<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ComMet</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/media-queries.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<meta name="viewport" content="width=device-width">

</head>
<body>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 	<div id="screenLoader" class="loaderBg">
		<div class="screenLoader"></div>
	</div> -->

	<main>
		<div class="container">
			<div  id="signUpBlock" class="signUpBlock">
			<div id="signUp" class="signUp" v-if="!signUpEnd">
				<h1 class="signUp__title">SignUp</h1>
				<div class="socialSignBtn socailSignBtn-google">
					<i class="fab fa-google socailSignBtn__icon"></i>
					<h2 class="socailSignBtn__title">Continue with Google</h2>
				</div>
				<div class="socialSignBtn socailSignBtn-facebook">
					<i class="fab fa-facebook-square socailSignBtn__icon"></i>
					<h2 class="socailSignBtn__title">Continue with Facebook</h2>
				</div>

				<div class="userData userData-name">
					<h2 class="userData__title">Your First Name</h2>
					<input class="userData__input" type="text" name="userFirstName" v-model="userFirstName">

				</div>

				<div class="userData userData-surname">
					<h2 class="userData__title">Your Last Name</h2>
					<input class="userData__input"  type="text" name="userLastName" v-model='userLastName'>
				</div>

				<div class="userData userData-login">
					<h2 class="userData__title">Create Login</h2>
					<aboutinput  title="Unique login" content="Login helps to identify you from other users">?</aboutinput>
					<input class="userData__input"  type="text" name="userLogin" placeholder="Unique login..." v-model='userLogin'  v-on:change="checkUniqLogin()" v-bind:class="{errorInput : isErrors[0].uniqLogin}">
					<span class="loader" v-if="loaders.loginLoader"></span>
					<span class="errorMsg" v-if="isErrors[0].uniqLogin">{{errorMessages[0].uniqLogin}}</span>

				</div>

				<div class="userData userData-email">
					<h2 class="userData__title">Your E-Mail Address</h2>
					<input class="userData__input"  type="text" name="userEmail" placeholder="example@site.com"  v-bind:class="{errorInput : isErrors[0].validateMail || isErrors[0].uniqMail}" v-model="userMail" v-on:change="checkMail()" >
					<span class="loader" v-if="loaders.mailLoader"></span>
					<span class="errorMsg" v-if="isErrors[0].validateMail || isErrors[0].uniqMail">{{errorMessages[0].validateMail}}</span>
				</div>

				<div class="userData userData-password">
					<h2 class="userData__title">Create Password</h2>
					<input class="userData__input"  type="password" name="userPassword" placeholder="Minimum 6 symbols" v-bind:class="{errorInput : isErrors[0].password}" v-model="userPassword" v-on:change="checkPass()">
					<span class="errorMsg" v-if="isErrors[0].password">{{errorMessages[0].password}}</span>
				</div>

				<div class="userData userData-bday">
					<h2 class="userData__title userData__title-BDay">Date of Birth</h2>
				<!-- 	<span class="userData__aboutInput">?</span> -->
					<select class="userData__BDay userData__day" name="BDate_day"v-model="selectedDay">
						<option  v-for="day in days" v-bind:value="day">{{ day }}</option>
					</select>
					<select class="userData__BDay userData__month" name="BDate_month" v-model="selectedMonth">
						<option v-for="mon in months" v-bind:value="mon">{{mon}}</option>
					</select>
					<select class="userData__BDay userData__year" name="BDate_year" v-model="selectedYear">
						<option v-for="year in years" v-bind:value="year">{{year}}</option>
					</select>

				</div>

				<!-- <div class="userData userData-location">
					<h2 class="userData__title" v-on:click="getDateOfBirth()">Your Location</h2>
					<aboutinput  title="Why we need your location?" content="It helps us to find a nearest events for you">?</aboutinput>
					<input class="userData__input"  type="text" name="userLocation" >
				</div> -->

				<button class="signUp__submit" type="button"  v-bind:disabled="disableSubmitCheck" v-on:click="getVerificationCode()">Continue</button>
				<span class="errorMsg" v-if="isErrors[0].signUpErr">{{errorMessages[0].signUpErrMsg}}</span>

				<div class="signUpLoaderBG" v-if="loaders.signUpLoader">
					<div class="screenLoader"></div>
				</div>

			</div>

			<div class="signUp" v-if="signUpEnd">
				<h1>Verification</h1>
				<p>We sent a verification code to your Email address ({{userEmail}}). Please, enter the code to continue </p>
				<div class="userData">
					<input type="text" class="userData__input" v-model="userVerificationCode" v-bind:class="{errorInput : isErrors[0].verifErr}">
					<span class="errorMsg" v-if="isErrors[0].verifErr">{{errorMessages[0].verifErrMsg}}</span>
					<button class="signUp__submit verificationBtn" v-on:click="checkVerifCode()">Continue</button>
				</div>
			</div>
			</div>

		</div>

	</main>
	<!-- <script type="text/javascript" src="js/loader.js"></script> -->
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
